@charset "utf-8";
/* CSS Document */
/*======================================================================
	Project Name: eone.com
	Creator     : Dulal Hossain
	E-mail		: dulalhossain34220@gmail.com
	Date        : august/01/2021
========================================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	font-family: 'Roboto', sans-serif;
	color: #222;
	font-size: 14px;
	width: 100%;
}


/* :- moz-placeholder{
    color: #f00 !important;
} */

/*===========@Global Styles ============*/
*{margin:0; padding:0; outline:none}
img,fieldset{border:0}
a { text-decoration:none !important; }
img{
    max-width: 100%;
    float: left;
    display: block
}
ul,li{padding:0px;margin:0px; list-style: none}

h1, h2, h3, h4, h5, h6, p{ margin:0; padding:0; font-weight:normal;
-webkit-transition: all 0.3s ease-in-out 0s; 
	 -o-transition: all 0.3s ease-in-out 0s; 
	 transition: all 0.3s ease-in-out 0s; 
}

.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
	border-color: transparent !important;
}
.ant-input:focus, .ant-input-focused {
	box-shadow: none;
}

/* HEDAER TOP AREA  */

.top_banner_area {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	background: #1e71ff;
}

.search_from .form-control {
	height: 50px;
}
.top_banner_area h2 {
	position: absolute;
	right: 10px;
	background: #fff;
	width: 30px;
	height: 30px;
	text-align: 10px;
	top: 9px;
	border-radius: 50px;
	line-height: 25px !important;
	font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}
.top_banner_area h2:hover {
    background: #0071bb;
    color: #fff;
}
.top_header_Banner {
	width: 100%;
	height: 80px;
}

/* Logo ARea  */
.header__logo_search_area {
	width: 100%;
	float: left;
	display: block;
	padding: 25px 0 5px 0;
}
.logo img {
	width: 90%;
}


.react-slider__container button {
	background: #f36100 !important;
	top: 50% !important;
}
/* Location Area  */
.location_find_area {
  width: 100%;
  float: left;
  display: block;
}
.location_btn {
	width: 100%;
	float: left;
	display: block;
	border: 1px solid #d9d9e9;
	border-radius: 5px;
	padding: 8px 15px;
	position: relative;
	cursor: pointer;
}
.location-description {
  font-size: .625rem;
  opacity: .5;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.location_icon {
	position: absolute;
	right: 20px;
	top: 18px;
	font-size: 23px;
}
.location_text {
	color: #233a95;
	font-weight: 600;
	letter-spacing: .5px;
}
.entry-title {
	font-size: 1rem;
	font-weight: 600;
	padding-bottom: 5px;
}
.entry-description {
	font-size: .75rem;
	opacity: .7;
}
.location_details {
  width: 100%;
  float: left;
  display: block;
  padding-top: 30px;
}
.location_search input {
	padding: 12px 16px !important;
	background: #f3f4f7 !important;
	border: none !important;
}
.location_search .ant-input-search-button {
	height: 45px;
	background: #f3f4f7;
	border: none;
}

/* Search  */
.search_input {
  padding-top: 0 !important;
}
.search_input input {
	padding: 20px 16px !important;
	background: #f3f4f7 !important;
	border: none !important;
  border-radius: 5px;
}
.search_input .ant-input-search-button {
	height: 61px !important;
}
.registrison_icon {
	width: 40px;
	height: 40px;
	border: 1px solid #e2e4ec;
	padding: 9px;
	border-radius: 40px;
	margin-top: 11px;
  color: #222;
}

/* Header Cart Area  */
.cart_area {
	width: auto;
	float: right;
	display: block;
	cursor: pointer;
}
.header_card_box {
  width: auto;
}
.card__icon {
	width: auto;
	float: right;
	width: 40px;
	height: 40px;
	background: #fff1ee;
	text-align: center;
	line-height: 40px;
	margin-left: 15px;
	border-radius: 40px;
	font-size: 20px;
	position: relative;
}
.header_card_box {
	padding-top: 10px;
}
.header_card_box span {
	padding-top: 10px;
	float: left;
	font-weight: 600;
}
.card_number {
	position: absolute;
	top: -8px;
	right: -4px;
	font-size: 11px;
	background: #f00;
	width: auto;
	height: 21px;
	line-height: 22px;
	padding: 0 6px;
	border-radius: 70px;
	color: #fff;
}
.all_location_name {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}
.location_name {
	width: 100%;
  cursor: pointer;
	float: left;
	display: block;
	padding: 15px 4px;
	border-bottom: 1px solid #2222;
  transition: all .3s;
}
.location_name:hover {
  background: #f3f4f7;
}
.location_name span {
  float: right;
	font-size: .625rem;
	border: 1px solid #e2e2ec;
	color: #9b9bb4;
	padding: .1875rem .625rem;
	border-radius: 1.875rem;
}
.ant-modal-footer .ant-btn span  {
  display: none;
}
.ant-modal-footer button  {
  border: none;
  background: transparent;
}
.location_details .anticon-search svg {
	font-weight: 600;
	color: #222;
	font-size: 20px;
	margin-right: 16px;
}
.location_search {
  margin-bottom: 20px;
}
.header_bottom_catagore {
	width: auto;
	float: left;
}
.header_bottom {
	float: right;
	display: block;
}
.header_bottom a {
	color: #222;
	padding: 10px 18px;
	float: left;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}


/* Slider area  */
.slider_area {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	background: #9d2123;
}
.slider_area .owl-dots {
	position: absolute;
	left: 50px;
	right: 0;
	bottom: 7px;
}
.catagore_position {
  position: absolute;
  top: 0;
  z-index: 1;
}
.images_width {
	width: 1040px !important;
	float: right;
}
.catagore_title {
	width: 100%;
	float: left;
	padding: 20px 0 6px 20px;
	font-size: 13px;
	border-bottom: 1px solid #2222;
	font-weight: 500;
	display: none;
}
.all_categories_btn {
	font-size: 14px;
	/* text-align: center; */
	/* background: #2222; */
	padding: 20px 23px;
	font-weight: 600;
	color: #9d2123;
	border-bottom: 1px solid #2222;
}
.catagore_title svg {
	font-size: 23px;
	margin-left: -8px;
	margin-right: 4px;
}
.header_bottom_catagore {
	padding: 8px 15px;
	cursor: pointer;
}
.catagore__icon {
	width: 23px;
	font-size: 20px;
}

/* facilitated_area  */
.facilitated_area {
	width: 100%;
	float: left;
	display: block;
}
.facilitated_box {
	width: 100%;
	float: left;
	display: block;
	padding: 20px 5px;
}
.facilitated_box img {
	width: 25%;
	float: left;
}
.facilitated_text {
	width: auto;
	float: left;
	display: block;
	padding-left: 10px;
	padding-top: 10px;
}
.facilitated_text h3 {
	font-size: 14px;
	font-weight: 600;
}
.facilitated_text p {
	font-size: 10px;
}

/* PopularCategories  */
.popular_categories_area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 40px;
}

.p_catagore_area {
	/* background: #75bf7a; */
	border-radius: 1rem;
	overflow: hidden;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.p_catagore_area_title {
	padding: 1.5625rem 2rem;
	color: #fff;
	font-size: 1rem;
	line-height: 25px;
	font-weight: 500;
	flex: 1 1;
	text-align: center;
}
.popular_categories__box {width: 100;float: left;display: block;}
.section_header {
	width: 100%;
	display: block;
	float: left;
}
.section_header h3 {
	float: left;
	font-size: 20px;
	font-weight: 600;
}
.section_header_right {
	width: auto;
	float: right;
}
.section_header_right .ant-btn-icon-only {
	width: 64px !important;
	background: #9d2123 !important;
}
.section_header_right .anticon-search svg {
	font-size: 24px !important;
	color: #fff !important;
}
.header__btn {
	background: #9d2123;
	padding: 12px 38px;
	color: #fff;
	/* margin-top: 12px; */
	float: left;
	margin-left: 19px;
}


.cone {
	background-color: #26658c !important;
}
.cblue {
	background-color: #4abfd9 !important;
}
.cgreen{
	background-color: #46a69c !important;
}
.cred{
	background-color: #d94945 !important;
}
.cyellow{
	background-color: #d9a934 !important;
}
.cgreen2{
	background-color: #75bf7a !important;
}



/* Flash Shell  */

.flash_sale_area{
	width: 100%;
	float: left;
	display: block;
	padding: 50px 0;
}
.time_count_area {
	float: right;
	margin-left: 20px;
}
.time_count_area span {
	background: #9d2123;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}

/* Flash Seall Product  */
.product__box {
	width: 100%;
	float: left;
	display: block;
}
.flas_shell_product {
	width: 100%;
	float: left;
	display: block;
	border-radius: 5px;
	padding: 8px;
	border: 2px solid #9d2123;
}
.ps_product__image {
	display: block;
	transition: 600ms ease 0s;
	border-radius: 4px;
	cursor: pointer;
}
.ps_product__image figure {
	position: relative;
	z-index: 2;
}
.ps_product__image figure img:first-child {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: opacity 600ms ease 0s;
	position: initial;
	opacity: 1;
}
.ps_product__image figure img:last-child {
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 600ms ease 0s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
}
.ps_product_box:hover figure img:first-child {
	opacity: 0;
}
.ps_product_box:hover figure img:last-child {
	opacity: 1;
}
.ps_product__percent {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
	color: white;
	background-color: #9d2123;
	border-radius: 50%;
	padding: 2px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}
.ps_product__actions {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 7;
	visibility: hidden;
	opacity: 0;
}
.ps_product__item {
	width: 34px;
	height: 34px;
	border-radius: 100%;
	position: relative;
	transition: 350ms ease 0s;
	color: #103178;
	margin-top: 5px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 8px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #2222;
}
.ps_product__item:hover {
	color: #fff;
	background-color: #9d2123;
	
}
.ps_product__item:first-child {
	margin-top: 0;
}
.ps_product_standard:hover .ps_product__actions {
	transform: translateY(0);
}
.ps_product_box:hover .ps_product__actions {
	visibility: visible;
	opacity: 1;
}
.product_content_wrapper {
	text-align: center;
}
.product_content_wrapper .price {
	display: block;
	font-size: 1.125rem;
	margin-bottom: .625rem;
}
.price del {
	font-size: 12px;
	color: #9b9bb4;
	font-weight: 600;
}
.price span {
	color: #ed174a;
	font-weight: 600;
	margin-left: 10px;
	font-size: 19px;
}
.product_content_wrapper p {
	font-size: .875rem;
	padding: 0 5px;
	color: #313444;
}
.fls_product_area {
	width: 100%;
	float: left;
	display: block;
}
.in_stock {
    color: #0ebc5c;
    font-weight: 600;
}
.product_pcs {
	color: #313444;
	padding: 5px 0;
	font-size: 12px;
}
.product_pcs span {
	font-size: 14px;
	font-weight: 500;
}
.product_add_cart {
	background: #9d2123;
	padding: 7px 26px;
	height: 35px;
	width: 135px;
	color: #fff;
	border-radius: 50px;
	margin: auto;
	display: block;
	float: none;
	margin-top: 5px;
	margin-bottom: 10px;
	transition: all .3s;
	line-height: 20px;
}
.product_add_cart:hover {
	background: #fff;
	border: 1px solid #222;
	color: #222;
}
.ps_product_box {
	border-right: 1px solid #2222;
	position: relative;
}

.just_for_tou_product_area .ps_product_box {
	border-right: none !important;
}

/* Most Populer Area  */

.most_populer_area {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 50px;
}
.most_populer_box {
	width: 100%;
	float: left;
	display: block;
}
.populer_box_width {
	width: 100%;
	float: left;
	display: block;
	border: 1px solid #2222;
	border-radius: 23px;
	padding: 25px;
	cursor: pointer;
}
.most_populer_img {
	width: 21%;
	float: left;
	display: block;
	margin-right: 15px;
}
.populer_box_text {
	width: auto;
	float: left;
	display: block;
	padding-left: 15px;
}
.populer_box_text h3 {
	font-size: 0.875rem;
	line-height: 1rem;
	color: #747c80;
	display: block;
	font-weight: 500;
	padding-bottom: 10px;
}
.populer_box_text p {
	font-size: 1rem;
	letter-spacing: 0;
	color: #313444;
}
.populer_box_link {
	color: #9d2123;
	font-weight: 600;
	padding-top: 5px;
	float: left;
}
.populer_single_box {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #2222;
	margin-bottom: 20px;
}
.populer_single_box:last-child {
	padding-bottom: 0px;
	border-bottom: none;
	margin-bottom: 0px;
}
.banner_wrapper {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	margin-bottom: 20px;
	margin-top: 17px;
}
.banner_wrapper:last-child {
	margin-top: 0px;
}
.banner_wrapper_contant {
	position: absolute;
	padding: 23px;
}
.banner_wrapper_contant h3 {
	color: #3e445a;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	letter-spacing: .5px;
	margin-bottom: 35px;
}
.just_for_tou_product_area {
	width: 100%;
	float: left;
	display: block;
}
.loadMore__btn {
	width: 200px;
	margin: auto;
	display: block;
	background: #9d2123;
	border: navajowhite;
	padding: 10px 0;
	color: #fff;
	border-radius: 36px;
	margin-top: 35px;
	font-size: 13px;
	transition: all .3s;
}
.loadMore__btn:hover {
	background: #222;
}
.loadMore__btn svg {
	margin-left: 0px;
	background: #fff;
	color: #222;
	padding: 2px;
	margin-left: 3px;
}

/* FOOTER AREA  */
.full_footer_area {
	width: 100%;
	float: left;
	display: block;
}
.footer_facilitated_area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 45px;
	cursor: pointer;
}
.footer__img {
	width: 100%;
	float: left;
	display: block;
}
.footer_area {
	width: 100%;
	float: left;
	display: block;
	padding: 50px 0 0px 0;
	background: #301414;
	margin-top: 60px;
}
.newsletter_text h5 {
	color: #fff;
	font-size: 15px;
	letter-spacing: .5px;
	font-weight: 400;
}
.newsletter_text h3 {
	font-size: 1.625rem;
	font-weight: 600;
	margin-bottom: .9375rem;
	padding-top: 6px;
	color: #fff;
	letter-spacing: .5px;
}
.newsletter_text p {
	font-size: 13px;
	color: #f9f9f9;
	margin-bottom: 40px;
}
.newsimg {
	float: right;
}
.footer_text_area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 50px;
}
.footer_text {
	width: 100%;
	float: left;
	display: block;
}
.footer_text h3 {
	color: #202435;
	margin-bottom: 10px;
	font-size: 18px;
}
.footer_text a {
	width: 100%;
	float: left;
	display: block;
	color: #3f3f40;
	padding-bottom: 8px;
	transition: all .3s;
	font-size: 14px;
}
.footer_text a:hover {
	color: #222;
}
.footer_bootm_area {
	padding: 30px 0;
	width: 100%;
	float: left;
	display: block;
	border-top: 1px solid #2222;
	margin-top: 50px;
}
.footer_bootm_area a {
	font-weight: 600;
	color: #222;
}

/* Add Popup Area  */

.popup_com_area {
	width: 100%;
	float: left;
	display: block;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.popup-inner {
	position: relative;
	padding: 32px;
	width: 100%;
	max-width: 640px;
	/* background-color: #fff; */
	height: 460px;
	overflow: hidden;
	position: relative;
	background-color: #000000;
	border-radius: 5px;
}

.popup-inner .close-btn {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 9999;
}
.popup-inner .close-btn svg {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.popup-inner .close-btn svg:hover {
	color: #e62a16;
}

.rainbow {
	width: 100%;
	height: 100%;
	-webkit-animation: o-rotate-360 linear 12s infinite;
	animation: o-rotate-360 linear 12s infinite;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.rainbow span:first-child {
	background-color: #e62a16;
}
.rainbow span::after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
}
.rainbow span {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.rainbow span:last-child::after {
	background-color: #e62a16;
}
.offer-content {
	background-color: #000000;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: calc(100% - 5px);
	height: calc(100% - 5px);
}
.offer-content h2 {
	font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}
.offer-content h2 span {
	font-size: 30%;
}
.offer-content .offer_content_text {
	padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1920 - 320)));
	display: block;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.offer-content .lable {
	background-color: #e62a16;
	color: #ffffff;
	text-transform: uppercase;
	height: 40px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-left: 20px;
}
.offer-content .lable::before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #e62a16;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.offer-content .lable::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #000000;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.offer-content h3 {
	font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.offer-content .timer .full_timer_box {
	background-color: rgba(230, 42, 22, 0.3);
	color: #ffffff;
	border-radius: 5px;
	padding: 15px 0;
	font-size: 30px;
}
.timer span:first-child {
	margin-left: 0;
}
.timer span {
	display: inline-grid;
	/* background-color: #ffffff; */
	/* padding: 0 0 18px; */
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	color: #000000;
	margin: 0 8px;
	min-width: 70px;
	color: #fff;
}
.offer-content h3, .theme-modal.blackfriday-modal#exampleModal .offer-content h4 {
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}
.offer_date {
	color: #fff;
	padding-top: 15px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .5px;
}

/* Drawer Logo  */
.drower_raspon_logo {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	padding: 20px 0;
}
.rspn_nav_ {
	display: none;
}
.rasponsive__footr_box {
	display: none;
}

.drower_location_search, 
.rspnsiv____search {
	display: none;
}
.drower_raspon_logo img {
	width: 60%;
	margin: auto;
	display: block;
	float: none;
}
.drower_raspon_logo svg {
	position: absolute;
	top: 5px;
	right: 11px;
	background: #222;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 25px;
	padding: 4px;
	cursor: pointer;
}
.drower_raspon_logo svg:hover {
	background: #f46200;
}
.drower_raspon_logo h3 {
	font-size: 15px;
	font-weight: 600;
	margin-top: -10px;
}
.card__box_design_area {
	width: 100%;
	float: left;
	display: block;
	overflow-y: scroll;
	height: 400px;
}
.card_single_box {
	width: 100%;
	float: left;
	display: block;
	border: 1px solid #2222;
	padding: 15px;
	cursor: pointer;
	border-bottom: 1px solid #2222;
	margin-bottom: 15px;
}
.card_single_box img {
	width: 50px;
	float: left;
}
.card_box_text {
	width: 76%;
	float: left;
	display: block;
	margin-left: 15px;
}
.card_box_text h4 {
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 3px;
}
.card_box_text h6 {
	font-size: 14px;
	font-weight: 500;
}
.card_box_text p span {
	/* width: 20px; */
	border: 1px solid #2222;
	float: left;
	display: block;
	text-align: center;
	padding: 0px 15px;
	font-size: 19px;
}
.card_box_text p {
	margin-top: 5px;
}
.card_box_text p input {
	width: 65px;
	float: left;
	margin: 0px 10px;
	border: 1px solid #2222;
	height: 31px;
	padding: 5px 12px;
	text-align: center;
}
.card_box_edit {
	width: 100%;
	float: left;
	display: block;
	padding-top: 8px;
}
.card_box_edit svg {
	font-size: 20px;
}
.cart_total {
	width: 100%;
	float: left;
	display: block;
	padding: 15px;
	border: 1px solid #2222;
	margin-top: 20px;
}
.cart_total p {
	width: 100%;
	float: left;
	display: block;
	text-transform: capitalize;
	font-weight: 500;
	padding-bottom: 5px;
}
.cart_total p span {
	float: right;
}
.cart_total .buttons p {
	width: auto;
	float: left;
	display: block;
	background: #9d2123;
	color: #fff;
	padding: 10px 30px;
	margin-top: 8px;
	margin-right: 20px;
}
.cart__edit__area {
	width: 100%;
	float: left;
	display: block;
}
.cart__edit__images {
	width: 60%;
	margin: auto;
	display: block;
	float: none;
}
.cart__edit__images img {
	width: 30%;
}
.cart__edit__images h4 {
	font-size: 16px;
	padding-top: 25px;
	font-weight: 600;
	color: #444444;
	padding-bottom: 3px;
}
.cart__edit__images h6 {
	font-size: 13px;
	color: #9d2123;
	font-weight: 600;
}
.cart__edit__qulity {
	width: 100%;
	justify-content: center;
	padding-top: 34px;
	float: none;
	text-align: center;
}
.cart__edit__qulity h4 {
	font-size: 15px;
	font-weight: 600;
}
.cart__edit__qulity .card_box_text {
	width: 100% !important;
	justify-content: center;
	display: flex;
	margin-top: 6px;
	margin-bottom: 14px;
}
.card_box_sizee {
	padding: 3px 16px;
	font-size: 14px;
	float: left;
	display: block;
	border: 1px solid #2222;
	margin-right: 15px;
}

.bg_color .ant-radio-inner {
	background-color: #222 !important;
}
.bg_color1 .ant-radio-inner {
	background-color: #f00 !important;
}
.bg_color2 .ant-radio-inner {
	background-color: #222 !important;
}
.bg_color3 .ant-radio-inner {
	background-color: #f00 !important;
}

.cart_edit_buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.cart_edit_buttons p {
	text-transform: capitalize;
	padding: 10px 30px;
	background: #9d2123;
	margin-right: 11px;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}


.registrison_icon_card {
	display: none;
}
.raspon__footer___btm {
	display: none;
}
.footer_bootm_area p {
	/* float: left; */
	text-align: center;
	margin-bottom: 15px;
}
.footer_bootm_area img {
	float: right;
	width: 100%;
}

/* PAGES CSS  */

.category_area {
	width: 100%;
	float: left;
	display: block;
}
.category_header_full_width {
	width: 100%;
	float: left;
	display: block;
	padding: 30px 0;
	background: #f8f8f8;
}
.category_header__a {
	font-size: 18px;
	width: 100%;
	font-weight: 600;
}
.category_header__a span {
	float: right;
	font-size: 13px;
	font-weight: 400;
}
.categore_body_area {
	width: 100%;
	float: left;
	display: block;
	padding: 30px 0;
}
.brand_area {
	width: 100%;
	float: left;
	display: block;
}
.categore_box_cntn {
	width: 100%;
	float: left;
	display: block;
}
.ctagre_img {
	width: 100%;
	float: left;
	display: block;
}
.categore_box_brand {
	width: 100%;
	float: left;
	display: block;
	padding: 20px 0;
}
.categore_filter_area {
	width: 100%;
	float: left;
	display: block;
	position: relative;
}
.price_filter {
	width: 100%;
	float: left;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #2222;
}
.price_filter:last-child {
	border-bottom: none;
}
.price_filter input {
	width: 25%;
	border: 1px solid #2222;
	padding: 5px;
}
.price_filter h3 {
	font-size: 15px;
	color: #212121;
	padding-bottom: 5px;
}
.categore_title_box {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #2222;
}
.categore_title_box_text h4 {
	font-size: 18px;
}
.categore_title_box_text p {
	font-size: 13px;
	color: #f57224;
	padding: 5px 0;
}

.s_width {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 5px;
}
.categore_title_box .categore_title_box_text{
	float: left;
	width: auto;
}
.categore_title_box .section_header{
	float: right !important;
	width: auto !important;
}
.categore_title_box .section_header .location_search {
	margin-bottom: 0px !important;
}
.price_filter_btn {
	width: 40px;
	height: 31px;
	background: #9d2123;
	color: #fff;
	margin-left: 16px;
	padding: 4px;
	cursor: pointer;
}
.c_filter_area {
	width: auto;
	float: left;
	display: block;
}
.rasponsive__filter__ {
	display: none;
}
.categore_body_area .ps_product_box {
	border-right: none;
}

/* PRODUCT DETAILS  */
.product_details_area {
	width: 100%;
	float: left;
	display: block;
}
.products_details_box {
	width: 100%;
	float: left;
	display: block;
	padding: 40px 0;
}
.product_details_area {
	width: 100%;
	float: left;
	display: block;
}
.product_box_area {
	width: 100%;
	float: left;
	display: block;
	padding: 60px 0;
	background: #fff;
}
.product_box_img {
	width: 100%;
	float: left;
	display: block;
}
.product_box_img_details {
	width: 100%;
	float: left;
	display: block;
}

.react-slider img {
	border: thin solid #ccc;
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
  }
  .react-slider__ul {
	float: left !important;
}
.react-slider__container button {
	top: 340px !important;
}
.product_box_img p {
	padding-bottom: 10px;
}
  
.woo_pr_title {
	font-weight: 600;
	margin-bottom: 0;
	padding: 10px 0;
	font-size: 19px;
}
.woo_pr_offer_price {
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 1rem;
	padding-top: 20px;
}
.woo_pr_offer_price h3 {
	font-size: 30px;
}
.woo_pr_offer_price h3 sup {
	font-size: 20px;
	color: #afb8d0;
}
span.org_price {
	flex: 1;
	margin-left: 1.5rem;
	font-size: 22px;
	font-weight: 500;
	text-decoration: line-through;
	color: #afb8d0;
}
span.org_price sup {
	font-size: 16px;
	color: #afb8d0;
}
.woo_pr_short_desc {
	margin-bottom: 1.5rem;
}
.woo_pr_color, .woo_pr_varient  {
	width: auto;
	float: left;
	display: block;
}
.woo_colors_list  {
	width: auto;
	float: left;
	display: block;
}
.woo_pr_varient h6 {
	font-size: 17px;
	padding-right: 10px;
}

.insotrk_box {
	width: 100%;
	float: left;
	display: block;
	border: 1px solid #ce131c;
	border-radius: 5px;
	background: #ffe3e4;
	color: #222;
	padding: 10px;
	font-weight: 500;
	margin-bottom: 15px;
}
.insotrk_box span {
	color: #ce131c;
	font-weight: 600;
}
.product_type {
	width: 100%;
	float: left;
	display: block;
	padding: 10px 0;
}
.product_type p {
	padding-bottom: 4px;
}
.product_type svg {
	color: #ce131c;
}

.cartBtn_box {
	padding: 20px 0 25px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	width: 100%;
	display: block;
	float: left;
}
.ps-product__quantity label {
	width: 100%;
	padding-bottom: 8px;
}
.number_input button {
	background-color: #f7f7f7;
	border: none;
	display: block;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	padding: 8px;
	float: left;


}
.def_number_input {
	width: auto;
	float: left;
	display: flex;
	align-items: center;
	border: 1px solid #dddddd;
	border-radius: 2px;
	justify-content: space-between;
}
.number_input input[type="number"] {
	text-align: center;
	max-width: 50px;
	font-size: 13px;
	color: #222;
	flex-grow: 1;
}
  .number_input input::-webkit-outer-spin-button,
  .number_input input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
  .number_input input[type=number] {
	-moz-appearance: textfield;
  }
  .quantity {
	float: left;
	border: none;
}
.product__addcart {
	padding: 8px 25px;
	margin-left: 15px;
	color: #fff;
	cursor: pointer;
	background: #ce131c;
	border: none;
}

.wis__btn {
	font-size: 30px;
	margin-left: 20px;
}
.product__category_details_pages {
	width: 100%;
	float: left;
	display: block;
	padding: 20px 0;
}
.product__category_details_pages p {
	padding-bottom: 5px;
}
.product__category_details_pages p span {
	font-weight: 600;
}
.free_shipping_area {
	width: 100%;
	float: left;
	display: block;
	padding: 15px;
	background: #f7f7f7;
	border-radius: 10px;
	margin-bottom: 20px;
}
.free_shipping_area:last-child {
	margin-top: 20px;
}
.shipping_bolck {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #2222;
	padding-bottom: 10px;
	padding-top: 10px;
}
.shipping_bolck:last-child {
	border-bottom: none;
}

.shipping_bolck:first-child {
	padding-top: 0px;
}
.shipping_bolck svg {
	font-size: 25px;
	color: #222;
}
.shipping_bolck_text p {
	color: #222;
	margin-left: 12px;
	padding-bottom: 8px;
}
.shipping_bolck_text span {
	width: 100%;
	font-weight: 500;
	color: #222;
	float: left;
	margin-left: 12px;
	font-size: 13px;
	letter-spacing: .6px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2222;
}
.shipping_bolck_text span:last-child {
	padding-top: 10px;
	border-bottom: none;
}
.react-slider__ul li {
	width: 220px !important;
}
.breadcrumb {
	background: none;
	border-radius: 0;
	display: block;
	padding: 0;
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.breadcrumb p:first-child {
	border-left: 1px solid #ddd;
	border-color: #e21e26 !important;
	width: auto;
	float: left;
	display: block;
}
.breadcrumb p:first-child::after, .breadcrumb p:first-child::before {
	border-color: #e21e26;
}
.breadcrumb p::after {
	content: "";
	background: #fff;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	display: inline-block;
	height: 17px;
	width: 16px;
	position: absolute;
	right: -8px;
	top: 3px;
	z-index: 1;
	transform: rotate(45deg);
}
.breadcrumb p {
	position: relative;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 24px;
	line-height: 21px;
	margin-right: 3px;
	padding: 0 15px 0 20px;
	width: auto;
	float: left;
	cursor: pointer;
	font-size: 12px;
	padding-top: 2px;
}
.breadcrumb p + p::before {
	content: "";
	background: #fff;
	border-left: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	display: inline-block;
	height: 18px;
	width: 17px;
	position: absolute;
	left: -6px;
	top: 2px;
	transform: rotate(135deg);
}
.breadcrumb p::after {
	content: "";
	background: #fff;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	display: inline-block;
	height: 17px;
	width: 16px;
	position: absolute;
	right: -8px;
	top: 3px;
	z-index: 1;
	transform: rotate(45deg);
}
.breadcrumb p + p:hover::after, .breadcrumb p + p:hover::before {
	border-color: #e21e26;
}
.breadcrumb p + p:hover {
	border-color: #e21e26;
}
.breadcrumb p svg {
	color: #e21e26;
}
.shipping_bolck_text svg {
	font-size: 16px;
	margin-right: 2px;
}
.sell_descount {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	margin-top: 30px;
}
.sell_descount img {
	width: 100%;
	float: left;
	display: block;
	border-radius: 10px;
	cursor: pointer;
}
.sell_banner_content {
	position: absolute;
	bottom: 30px;
	left: 19px;
}
.sell_banner_content h3 {
	font-weight: 600;
	color: #fff;
	font-size: 29px;
}
.sell_banner_content h4 {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

/* Product Details More Product  */

.product_details_more_p_area {
	width: 100%;
	float: left;
	display: block;
	
}
.p_d_more_p_h {
	width: 100%;
	float: left;
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #2222;
	margin-top: 15px;
	position: relative;
}
.link_title {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
}
.link_title::before {
	position: absolute;
	content: "";
	width: 51%;
	height: 3px;
	left: 0;
	bottom: 0;
	background-color: #e21e26;
	z-index: 1;
}
.p_d_m_s_p_a {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #2222;
}
.p_d_m_s_p_a:first-child {
	margin-top: 20px;
}
.p_d_m_s_p_a img {
	width: 100px !important;
}
.p_d_m_s_cntn {
	width: 100%;
	float: left;
	margin-left: 15px;
	padding-top: 15px;
}
.p_d_m_s_cntn h3 {
	font-size: 14px;
}
.p_d_m_s_cntn h5 {
	font-weight: 600;
	font-size: 16px;
}
.p_d_m_s_cntn .ant-rate {
	font-size: 15px;
}
.p_d_m_s_p_a:last-child{
	border: none;
}
.product_details_more_p_area .owl-nav {
	position: absolute;
	top: -54px;
	right: 0;
}
.product_details_more_p_area .owl-prev,
.product_details_more_p_area .owl-next
{
	background: none;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	font-size: 24px !important;
}

/* description_area */

.description_area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 50px;
}
.description_area .ant-tabs-tab-btn {
	outline: none;
	transition: all 0.3s;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: .6px;
}
.description__cont_area {
	width: 100%;
	float: left;
	display: block;
}
.description__cont_area h4 {
	font-weight: 600;
	font-size: 16px;
}
.description__text {
	width: 100%;
	float: left;
	display: block;
	padding: 13px 0;
}
.description__text p {
	font-family: Poppins, sans-serif;
	width: 100%;
	display: block;
	float: left;
	text-align: justify;
}
.description_text__title {
	width: 100%;
	display: flex;
	padding-top: 10px;
	float: left;
	font-family: Poppins, sans-serif;
	font-size: 14px;
}
.description_text__title svg {
	font-size: 19px;
	margin-right: 5px;
}
.description__text h4 {
	width: 100%;
	padding-bottom: 8px;
	font-size: 14px;
}
.description__text h4 span {
	padding-right: 10px;
}
.description__text p {
	padding-left: 20px;
	font-size: 13px;
}
.description__text p {
	padding-left: 20px;
	font-size: 13px;
}
.description__cont_area p span {
	padding-left: 30px;
}
.description__cont_area p {
	padding-bottom: 10px;
}
.vandor_frofile {
	width: 100%;
	display: flex;
	padding-bottom: 15px;
}
.vandor_frofile img {
	width: 70px;
	border: 1px solid #2222;
	height: 70px;
}
.vandor_frofile_nme {
	width: auto;
	float: left;
	margin-left: 20px;
}
.vandor_frofile_nme h3 {
	font-size: 16px;
	font-weight: 600;
}
.average_rating {
	width: 100%;
	display: flex;
}
.average_rating h2 {
	font-size: 45px;
	font-weight: 600;
}
.vandor_frofile_nme .ant-rate {
	font-size: 12px !important;
}
.vandor_frofile_nme_span {
	font-size: 11px;
	padding-left: 8px;
	color: #aaa;
}
.recomment_box {
	width: 100%;
	float: left;
	display: block;
	padding: 15px 0;
}
.recomment_box h5 {
	font-size: 30px;
	font-weight: 600;
}
.recomment_box h5 span {
	font-size: 13px;
	font-weight: normal;
}
.review_submit_area {
	width: 100%;
	float: left;
	display: block;
}
.review_submit_area_header {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 15px;
}
.review_submit_area_header h3 {
	font-weight: 600;
	font-size: 18px;
}
.review_submit_area_header p {
	padding: 0 !important;
}
.average_rating___span {
	padding-right: 10px;
	font-size: 13px;
}
.textarea__text {
	margin-top: 15px;
	min-height: 170px !important;
}
.form_group {
	margin-top: 20px;
}
.submit_btn {
	background: #454545;
	color: #fff;
	border: navajowhite;
	padding: 10px 30px;
	margin-top: 20px;
}
.form-control:focus {
	border-color: #2222 !important;
	box-shadow: none !important;
}
.form-control {
	font-size: 12px !important;
	border-radius: 0px !important;
	
}

/* vendorRelativeProduct  */

.vendorRelativeProduct {
	width: 100%;
	float: left;
	display: block;
}
.vendorRelativeProduct_header {
	width: 100%;
	float: left;
	display: block;
	border-bottom: 1px solid #2222;
	padding-bottom: 15px;
}
.vendorRelativeProduct_header h1 {
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.vendorRelativeProduct_header a {
	float: right;
	color: #222;
}
.vandor_relative_product_box {
	width: 100%;
	float: left;
	display: block;
}
.vandor_relative_product_box .ps_product_standard {
	border-right: none !important;
}
.ant-rate {
	font-size: 15px !important;
}

/* Cart  */
.cart__table_area {
	width: 100%;
	float: left;
	display: block;
}
.cart__product_table_header h2 {
	font-size: 14px;
	padding-bottom: 5px;
	font-weight: 600;
	letter-spacing: .6px;
}
.c_p_t_img {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	padding: 10px 0;
}
.c_p_t_img img {
	width: 80px;
	margin-right: 15px;
}
.c_p_t_img h5 {
	font-size: 15px;
	padding-top: 38px;
}
.c_p_t_img svg {
	position: absolute;
	left: 70px;
	background: #fff;
	width: 20px;
	height: 20px;
	padding: 4px;
	color: #222;
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.c_p_t_img .card_box_text p {
	margin-top: 30px;
}
.cart__table_footer_area {
	width: 100%;
	float: left;
	display: block;
	margin-bottom: 15px;
}
.continue_shoping_btn {
	font-size: 14px;
	background: #333333;
	float: left;
	color: #fff;
	padding: 12px 20px;
}
.continue_shoping_btn svg {
	margin-right: 6px;
}
.cart__table_footer_right {
	float: right;
}
.cart__table_footer_right .continue_shoping_btn {
	background: #fff !important;
	color: #222 !important;
	border: 1px solid #333 !important;
	margin-right: 13px;
}
.continue_shoping_btn_last_child {
	margin-right: 0px !important;
	cursor: no-drop;
}
.cart_totals_area {
	width: 100%;
	float: left;
	display: block;
	border: 1px solid #2222;
	padding: 15px;
}
.cart_totals_header {
	width: 100%;
	float: left;
	display: block;
	border-bottom: 1px solid #2222;
}
.cart_totals_header h3 {
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.cart_totals_header p {
	padding-bottom: 7px;
	font-weight: 600;
	font-size: 13px;
}
.cart_totals_header p span {
	float: right;
}
.cart_bootm_totals_header {
	width: 100%;
	float: left;
	display: block;
}
.price_total__btn {
	width: 100%;
}
.price_total__btn p {
	font-weight: 600;
}
.price_total__btn p span {
	float: right;
}
.price_total__btn button {
	background: #333333;
	border: none;
	color: #fff;
	width: 100%;
	padding: 10px;
	margin-top: 18px;
}
.cart_c__ {
	margin-top: 10px;
	width: 100%;
}
.user__fild__cart input {
	width: 100%;
	border: 1px solid #2222;
	padding: 8px 11px;
	color: #222 !important;
}

/* CHECKOUT  */
.billing_details_box {
	width: 100%;
	float: left;
	display: block;
	background: #fff;
	padding: 25px;
	border: 1px solid #2222;
}
.checkout_input_file {
	width: 100%;
	float: left;
	display: block;
	background: #f5f7fa;
	padding: 20px;
}
.form_group label {
	font-weight: 600;
	padding-bottom: 5px;
	width: 100%;
}
.form_group_details span {
	width: 35%;
	float: right;
	display: block;
}
.form_group_details label {
	padding-bottom: 15px;
	border-bottom: 1px solid #2222;
}
.f_n_txt label {
	font-weight: normal;
	border: none !important;
	padding-bottom: 10px;
}
.f_n_txt {
	border-bottom: 1px solid #2222;
}
.f_n_txt__span {
	float: right;
	width: 35%;
}
.f_n_txt____ {
	width: 35%;
	float: right;
}
.f_n_txt_checkBokk {
	padding-bottom: 5px;
	margin-left: 0 !important;
}

.f_n_txt button {
	background: #2e2e54;
	color: #fff;
	padding: 8px 44px;
	border: navajowhite;
	margin-top: 15px;
}
.f_n_txt_____ {
	border-bottom: none;
}

/* EONE MAIL AREA  */

.eoan_mail_area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 50px;
}
.email_box {
	width: 100%;
	float: left;
	display: block;
}
.e_one_s_box {
	width: 100%;
	float: left;
	display: block;
	position: relative;
}
.e_one_s_box img {
	width: 100%;
	float: left;
	display: block;
}
.e_one_s_box_text {
	width: 100%;
	text-align: center;
	float: left;
	padding: 15px 0;
	/* box-shadow: 4px 5px 1px -4px rgba(0,0,0,.10); */
	border: 1px solid #2222;
	border-top: none;
}
.e_one_s_box_text h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
}
.e_one_s_box_text p {
	font-size: 12px;
	color: #9e9e9e;
}
.logo__mail {
	width: 60px !important;
	border: 1px solid #2222;
	position: absolute;
	bottom: 63px;
	left: 34%;
}

/* SING UP  */

.singup_area {
	width: 100%;
	float: left;
	display: block;
}

.login-5 {
	/* min-height: 100vh; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	width: 80%;
	margin: auto;
	float: none;
}
.login-5 .login-box {
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.04) url("../images/loginBg.jpg") top left repeat;
	background-size: cover;
}
.login-5 .pad-0 {
	padding: 0;
}
.align-self-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}
.login-5 .form-section {
	text-align: center;
	padding: 70px 70px;
	background: #fff;
	border-radius: 10px 0 0 10px;
}
.login-5 .form-section .form-box {
	float: left;
	width: 100%;
	text-align: left;
	position: relative;
}
.login-5 .form-section .form-group {
	margin-bottom: 25px;
}
.login-5 .form-section .form-box input {
	float: left;
	width: 100%;
}
.login-5 .form-section .input-text {
	padding: 10px 25px;
	font-size: 16px;
	outline: none;
	height: 50px;
	background: rgba(23, 23, 23, 0.72);
	color: #616161;
	border-radius: 50px;
	font-weight: 500;
	border: 1px solid transparent;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.login-5 .info {
	padding: 30px;
	text-align: center;
	border: solid 5px rgb(255 255 255 / 20%);
	max-width: 300px;
	margin: 0 auto;
}
.box__info_color h3 {
	color: #fff;
	font-size: 40px;
	letter-spacing: .5px;
	text-transform: uppercase;
	font-weight: 600;
}
.box__info_color h4 {
	color: #fff;
	padding: 10px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .9px;
}
.login-5 .social-list a {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	font-size: 19px;
	margin: 2px;
	border-radius: 5%;
	background: #fff;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.login-5 .facebook-bg {
	color: #4867aa;
}
.login-5 .twitter-bg {
	color: #33CCFF;
}
.login-5 .google-bg {
	color: #db4437;
}
.login-5 .linkedin-bg {
	color: #2392e0;
}
.login-5 .login-box:hover .social-list a {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.btn__theme {
	background: #e21e26;
	border: navajowhite;
	padding: 8px 45px;
	color: #fff;
	border-radius: 50px;
	margin-top: 20px;
}
.form-section h3 {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: .6px;
}
.form__group__new {
	text-align: center !important;
}

.from__header {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: .6px;
	padding-bottom: 30px;
	color: #222;
}
.f_social_i {
	width: 100%;
	float: left;
	background: #4867aa;
	padding: 10px 0;
	color: #fff;
	border-radius: 4px;
}
.f_social_i span {
	font-size: 13px;
	letter-spacing: .5px;
}
.f_social_g {
	margin-top: 10px;
	background: #d34836;
}
.form_group__login {
	font-size: 14px;
	font-weight: 600;
	margin-top: 0;
}
.form_group__login a {
	color:#e21e26;
}
/* all_categories_Area */
.all_categories_Area {
	width: 100%;
	float: left;
	display: block;
	padding-top: 50px;
}

.cone2 {
	background-color: #26658c !important;
	height: 300px;
}
.all_categories_Area .p_catagore_area_title {
	padding: 15px 10px;
	color: #fff;
}
.all_categories_Area .p_catagore_area_title a {
	color: #fff;
	padding-bottom: 5px;
	font-weight: normal;
	font-size: 14px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.all_categories_Area .p_catagore_area_title a:hover {
	color: #222;
}
.counter-column {
	margin-bottom: 30px !important;
}
.counter-column:nth-child(6n+1) .cone2{
	background-color: #26658c !important;
}
.counter-column:nth-child(6n+2) .cone2{
	background-color: #46a69c !important;
}
.counter-column:nth-child(6n+3) .cone2{
	background-color: #4abfd9 !important;
}
.counter-column:nth-child(6n+4) .cone2{
	background-color: #d94945 !important;
}
.counter-column:nth-child(6n+5) .cone2{
	background-color: #d9a934 !important;
}
.counter-column:nth-child(6n+6) .cone2{
	background-color: #75bf7a !important;
}

.counter-column:nth-child(6n+7) .cone2{
	background-color: #26658c !important;
}
.counter-column:nth-child(6n+8) .cone2{
	background-color: #46a69c !important;
}
.counter-column:nth-child(6n+9) .cone2{
	background-color: #4abfd9 !important;
}
.counter-column:nth-child(6n+10) .cone2{
	background-color: #d94945 !important;
}
.counter-column:nth-child(6n+11) .cone2{
	background-color: #d9a934 !important;
}
.counter-column:nth-child(6n+12) .cone2{
	background-color: #75bf7a !important;
}

/* DASHBOARD AREA  */

.dashboard__area {
	width: 100%;
	float: left;
	display: block;
}
.dashboard_profile_box {
	width: 100%;
	float: left;
	display: block;
}